<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SUL - Technical Metadata Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-preview">
  </head>

  <body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
